## とりあえずSubmitを目指すだけのノート
- ランダムフォレストでやるよ

In [1]:
import pandas as pd

/home/kengo/miniconda3/envs/titanic_mobpro/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
df_train_org = pd.read_csv("train.csv")

df_test_org = pd.read_csv("test.csv")

In [3]:
df_train = ｄｆ_train_org.copy()

df_test = df_test_org.copy()

In [4]:
print(df_train.shape)
print(df_test.shape)

(891, 12)
(418, 11)

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [6]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [7]:
df_train.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [8]:
df_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
def create_dummy_column(df, column_name):
    dummies = pd.get_dummies(df[column_name], prefix="is")
    df_concat = pd.concat([df, dummies], axis=1).drop(column_name, axis=1)
    return df_concat

In [10]:
df_train = create_dummy_column(df_train, column_name="Sex")